body{
    font-family: 'Ubuntu', sans-serif;
    
    width: 100%; 
    margin-bottom: auto;
    
}
h1{
    font-size: 60px;
    padding: 0%;
}

.half-width{
    text-align: center;
    color: white;
    padding: 10%;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: 0px;
    
    
    
} 
.orange-color{
    color: white;
}
.donate{
    background-image: url(donation13.jpg);
    background-position: center;
    text-align: center;
    height: 300px;
    color: aliceblue;
}
.button{
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 10px;
    font-weight: 900px;
    border-radius: 15%;
    background-image: repeating-linear-gradient(rgb(194, 55, 120), rgb(37, 205, 34));
    text-align: center;
    
}
.paragraph{
    font-weight: 400px;
}
.today{
    text-align: center;
    padding: 40px 60px;

}
.best{
    width: 140px;
    height: 30px;
    
    text-align: center; 
}
.ammount{
    display: flex;
    padding: 30px 300px;
    color: gray;
    font-weight: 700px;
    
    
}
.other-ammount{
    text-align: center;
    color: rgb(100, 95, 95);
    padding: 20px 250px;
    margin-bottom: 80px;
    
}
.donate-plan{
    text-align: center;

}
.think{
    color: rgb(96, 77, 50);
}
.span-1{
    border: 10px 10px;
    margin: 5%;
}
.fight{
    padding: 20px 80px ;
    border: 10px 50px;
    margin: 20px;
    background-color: antiquewhite;
    
}
.flexible{
    display: flex;
    width: 100%;
}
#fight-1{
    background-color: aquamarine;
}
#fight-2{
    background-color: rgb(174, 206, 58);
}
.foot{
    text-align: center;
    color: white;
    background-color: black;
    height: 40% 30%;
    width: 60px 200px;
    margin: 0;
}
.color-end{
    color: coral;
    font-weight: 300px;
}